{{{browser.description}}}
    <h1>AJAX (GET)</h1>

    <pre>
        &lt;script src="lightHttp.min.js"></script>
        &lt;script>
        var http = new window.lightHttp();
        http.ajax("test.html", {"count": 20}, function (content) {
            console.log(content);
        });
        &lt;/script>
    </pre>


    <h1>AJAX (GET) Promise</h1>
    <pre>
        &lt;script src="lightHttp.min.js">
        &lt;script>
        var http = new window.lightHttp();
        http.ajax("test.html", {"count": 20})
            .then(function (content) {
                console.log(content);
            });
        &lt;/script>
    </pre>

    <h1>JSONP Promise</h1>
    <pre>
        &lt;script src="lightHttp.min.js">
        &lt;script>
        var http = new window.lightHttp();
        http.jsonp("testJsonp.php", {"test":1}, function (resp) {
            console.log(resp);
        });
        &lt;/script>
    </pre>
